<section class="mx-4 mb-2 p-4 bg-gray-800 text-gray-200 rounded-b-lg border-2 border-black">
  <h4 class="text-2xl uppercase text-center">
    <%= t('.title') %>
  </h4>
</section>

<% if Current.user&.role? == "admin" || Current.user&.role? == "supervisor" %>
  <%# Renderizo tabla %>
  <%= render "table", fines: @fines %>
<% else %>
  <%# Renderizar solo multas disponible al cliente %>
  <% if(@fines.count > 0)%>
        <% @fines.each do |fine| %>

          <%= render "fine", fine: fine %>
          
        <% end %>
  <% else %>
    <section class="mx-4 mb-2 p-4">
      <h4> <%= t('.no_records_available') %> </h4>
    </section>
  <% end %>
<% end %>